.debhelper/
debhelper-build-stamp
docker-cqfd.substvars
docker-cqfd/
docker-shell.substvars
docker-shell/
dosh-cqfd.substvars
dosh-cqfd/
dosh-docker-cqfd.substvars
dosh-docker-cqfd/
dosh-docker-shell.substvars
dosh-docker-shell/
files
