.debhelper/
debhelper-build-stamp
dosh-cqfd.substvars
dosh-cqfd/
dosh-docker-cqfd.substvars
dosh-docker-cqfd/
dosh-docker-shell.substvars
dosh-docker-shell/
dosh-linux-*.substvars
dosh-linux-*/
dosh-posh.substvars
dosh-posh/
dosh.substvars
dosh/
files
tmp/
