Source: dosh
Maintainer: Gaël PORTAY <gael.portay@gmail.com>
Section: utils
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: dosh
Architecture: all
Depends: ${misc:Depends}
Description: Run a user shell in a container with working directory bind mounted.
 dosh(1) is an sh-compatible front-end for docker that runs commands in a new
 container; using the current user, with working directory bind mounted.

Package: dosh-docker-shell
Architecture: all
Depends: ${misc:Depends}, dosh
Description: Docker CLI plugin for dosh.
 Run a user shell in a container with working directory bind mounted.
 dosh(1) is an sh-compatible front-end for docker that runs commands in a new
 container; using the current user, with working directory bind mounted.

Package: dosh-linux-platforms
Architecture: all
Depends: ${misc:Depends}, dosh
Replaces:
 dosh-linux-amd64 (<< 9),
 dosh-linux-arm64 (<< 9),
 dosh-linux-arm (<< 9),
 dosh-linux-ppc64le (<< 9),
 dosh-linux-riscv64 (<< 9),
 dosh-linux-s390x (<< 9),
Breaks:
 dosh-linux-amd64 (<< 9),
 dosh-linux-arm64 (<< 9),
 dosh-linux-arm (<< 9),
 dosh-linux-ppc64le (<< 9),
 dosh-linux-riscv64 (<< 9),
 dosh-linux-s390x (<< 9),
Description: Docker shell for linux platforms.
 dosh(1) is an sh-compatible front-end for docker that runs commands in a new
 container; using the current user, with working directory bind mounted.

Package: dosh-linux-amd64
Architecture: all
Section: oldlibs
Depends: ${misc:Depends}, dosh-linux-platforms
Description: Docker shell for linux/amd64 platform.
 This is a transitional package. It can safely be removed.

Package: dosh-linux-arm64
Architecture: all
Section: oldlibs
Depends: ${misc:Depends}, dosh-linux-platforms
Description: Docker shell for linux/arm64 platform.
 This is a transitional package. It can safely be removed.

Package: dosh-linux-arm
Architecture: all
Section: oldlibs
Depends: ${misc:Depends}, dosh-linux-platforms
Description: Docker shell for linux/arm platform.
 This is a transitional package. It can safely be removed.

Package: dosh-linux-ppc64le
Architecture: all
Section: oldlibs
Depends: ${misc:Depends}, dosh-linux-platforms
Description: Docker shell for linux/ppc64le platform.
 This is a transitional package. It can safely be removed.

Package: dosh-linux-riscv64
Architecture: all
Section: oldlibs
Depends: ${misc:Depends}, dosh-linux-platforms
Description: Docker shell for linux/riscv64 platform.
 This is a transitional package. It can safely be removed.

Package: dosh-linux-s390x
Architecture: all
Section: oldlibs
Depends: ${misc:Depends}, dosh-linux-platforms
Description: Docker shell for linux/s390x platform.
 This is a transitional package. It can safely be removed.

Package: dosh-posh
Architecture: all
Depends: ${misc:Depends}, dosh
Description: Run a user shell in a container with working directory bind mounted.
 posh(1) is an sh-compatible front-end for podman that runs commands in a new
 container; using the current user, with working directory bind mounted.

Package: dosh-cqfd
Architecture: all
Depends: ${misc:Depends}, dosh
Description: Wrap commands in controlled Docker containers using dosh.
 cqfd provides a quick and convenient way to run commands in the current
 directory, but within a Docker container defined in a per-project config file.

Package: dosh-docker-cqfd
Architecture: all
Depends: ${misc:Depends}, dosh-cqfd
Description: Docker CLI plugin for cqfd.
 Wrap commands in controlled Docker containers using dosh.
