Source: dosh
Maintainer: Gaël PORTAY <gael.portay@gmail.com>
Section: utils
Priority: optional
Standards-Version: 22
Build-Depends: debhelper-compat (= 13)

Package: dosh
Architecture: all
Depends: ${misc:Depends}
Description: Run a user shell in a container with cwd bind mounted.
