name: Deploy RPM package to GitHub Release
on:
  workflow_dispatch:
  push:
    tags:
      - "v**"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: fedora:42
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        dnf install -y asciidoctor bash-completion-devel git make pkgconf rpmdevtools rpmlint shellcheck
    - name: Setup GPG
      env:
        GPG_PRIVATE_KEY: ${{ secrets.PGP_PRIVATE_KEY_BLOCK }}
      run: |
        echo "$GPG_PRIVATE_KEY" | gpg --batch --import
    - name: Build package
      env:
        GPG_PRIVATE_KEY_PASSPHRASE: ${{ secrets.PGP_PRIVATE_KEY_PASSPHRASE }}
      run: |
        rpmdev-setuptree
        ver="$(bash ${{ github.event.repository.name }} --version)"
        tar czf "../$ver.tar.gz" --transform "s/./${{ github.event.repository.name }}-$ver/" .
        mv "../$ver.tar.gz" ~/rpmbuild/SOURCES/
        cp ${{ github.event.repository.name }}.spec ~/rpmbuild/SPECS/
        cd ~/rpmbuild/SPECS/
        rpmbuild --undefine=_disable_source_fetch -ba ${{ github.event.repository.name }}.spec
        cd -
        cp ~/rpmbuild/SRPMS/*.rpm ~/rpmbuild/RPMS/*/*.rpm .
        for i in ${{ github.event.repository.name }}*.rpm; do echo "$GPG_PRIVATE_KEY_PASSPHRASE" | gpg --batch --pinentry-mode=loopback --passphrase-fd=0 --detach-sign --no-armor "$i"; done
    - name: Lint package
      run: |
        # FIXME: E: incorrect-fsf-address /usr/share/licenses/domake/LICENSE
        #        E: spelling-error ('podman', '%description -l en_US podman -> pod man, pod-man, woodman')
        mkdir -p ~/.config/rpmlint
        printf "Filters = ['incorrect-fsf-address', 'spelling-error']\n" >~/.config/rpmlint/.toml
        rpmlint ${{ github.event.repository.name }}.spec ${{ github.event.repository.name }}*.rpm
    - name: Create release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: |
          ${{ github.event.repository.name }}*.rpm
          ${{ github.event.repository.name }}*.sig
